<div class="container">

  <div class="grocery-item-container" *ngFor="let item of items; let i = index">
    <div class="grocery-item">
      <span class="count">{{i+1}}. </span>
      <input *ngIf="i == 0" type="text" name="item-{{i}}" placeholder="grocery item..." appAutofocus (focus)="inputFocused(i)" [(ngModel)]="item.item" (blur)="inputBlurred()" />
      <input *ngIf="i != 0" type="text" name="item-{{i}}" placeholder="grocery item..." (focus)="inputFocused(i)" [(ngModel)]="item.item" (blur)="inputBlurred()" />
    </div>
    <div class="grocery-amount">
      <input type="text" name="amount-{{i}}" placeholder="amount..." (focus)="inputFocused(i)" [(ngModel)]="item.amount" (blur)="inputBlurred()" />
    </div>
  </div>

  <div style="display: flex;flex-direction: row;margin-top:20px;justify-content: space-evenly;">
    <div style="display:flex; flex-direction: row; justify-content: space-evenly;flex:50%;">
        <button class="btn" (click)="print()">Print</button>
        <button class="btn-outline" (click)="export()">Export</button>
    </div>
    <div style="display:flex; flex-direction: row; justify-content: space-evenly;flex:50%;">
        <div class="upload-file-wrapper">
            <button class="btn-outline" (click)="importClicked(fileUpload)">Import</button>
            <input type="file" #fileUpload style="display:none;" (change)="import($event)" />
        </div>
    </div>

  </div>

</div>